body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
#page{
    overflow: hidden;
    width: 1220px;
    margin: 0 auto;
    position: relative;
}
#top{
    height: 120px;
    /*border: 1px solid yellow;*/
    position: relative;
}
#top #logo{
    width: 500px;
    /*height: 100px;*/
    float: left;
    margin-left: -60px;
}
#search{
    /*margin-top: 50px;*/
    /*position:relative;*/
    position: absolute;
    top: 50px;
    left: 600px;
    /*height: 35px;*/
    width: 287px;
    border: 1px solid green;
    border-radius:5px;
    float: left;
    /*margin: 7px auto;*/
}
.kecheng #kecheng{
    /*border-left:none ;*/
    float: left;
    line-height: 35px;
    margin-left: 9px;
}
.kecheng #antri{
    float: left;
    border: 10px solid transparent;
    border-width: 6px 4px;
    border-top-color: #666;
    display: inline-block;
    top: 15px;
    position: relative;
}
#search-box{
    float: left;
    position: relative;
}
#search-box input{
    border: 1px solid green;
    position: absolute;
    top: 0;
    width: 200px;
    height: 32px;
}
#userinfo{
    width: 500px;
    float: right;
    padding: 35px 0px;
}
ul{
    list-style: none;
}
#userinfo ul li{
    float: right;
    text-align: center;
    margin-left: 26px;
    line-height: 36px;
}
#userinfo img{
    cursor: pointer;
}
#userinfo ul li a{
    float: right;
    font-size: 14px;
}
a:hover{
    color: #390;
}
#face-menu{
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 99;
    font-size: 12px;
    line-height: 30px;
    width: 165px;
    height: 100px;
    display: none;
}
#face-menu .menu{
    margin-top: 8px;
    background: white;
}
#face-menu .menu li:hover{
    background-color: #eee;
}
#arrr{
    float: right;
    margin-right: 5px;
    background: url("images/liebao.png");
    top: -8px;
    right: 10px;
    width: 14px;
    height: 9px;
    background-position: -187px 0;
}
#xiazai{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
 }
#xz-1 li{
    float: left;
    margin-right: 30px;
}
#nav{
    margin: 0 auto;
    width: 1220px;
    height: 400px;
    border: 1px solid white;
    position: relative;
}
#nav #menu{
    position: absolute;
    top:20px;
    left:0;
    padding-left:50px;
    background-color:#666;
    opacity: .502;
    width: 174px;
    height: 400px;
    z-index: 1;
}
#nav a{
    color: white;
}
#nav .item{
    height: 50px;
    border-bottom: 1px solid black;
}
#nav a:hover{
    color: black;
}
#nav a:hover#nav .item{
    background-color: white;
}
#nav #j-lbtn{
    position: absolute;
    left: 224px;
    height: 70px;
    width: 40px;
    top: 50%;
    margin-top: -35px;
    background: url(images/l-r.png) no-repeat 0 0;
    z-index: 100;
}
.rwrap-left{
    padding: 10px 20px;
    height: 380px;
    width: 955px;
    margin-left: 224px;
    margin-top: 20px;
}
.f-cb{
    z-index: 99;
}
.top-rec-box{
    width: 996px;
    height: 50px;
    float: left;
}
.top-rec {
    margin: 20px 20px 8px 0;
    padding: 0px 16px 5px 11px;
    border: 1px solid #ff8a00;
    font-size: 14px;
    color: #ff8a00;
}
.itembox{
    position: relative;
}
.rwrap-left .tit{
    float: left;
}
.itembox p{
    position: absolute;
    top: -15px;
    left: 97px;
}
#scroll
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
}
#scroll img
{
    position: relative;
    margin-top:0px ;
    list-style:none;
    width:1220px;
    height:400px;
    padding:0px;
}
#nav #j-lbtn{
    position: absolute;
    left: 224px;
    height: 70px;
    width: 40px;
    top: 50%;
    margin-top: -35px;
    background: url(images/l-r.png) no-repeat 0 0;
    z-index: 100;
}
#nav #j-rbtn{
    position: absolute;
    height: 70px;
    right: 0;
    width: 40px;
    top: 50%;
    margin-top: -35px;
    background: url(images/l-r.png) no-repeat 0 0;
    background-position: -66px 0;
    z-index: 100;
}
.m-micro {
    margin-bottom: 25px;
}
.m-index .g-flow {
    min-width: 1205px;
}
.f-pr {
    position: relative;
}
.m-micro .m-micro-wrap {
    border: 1px solid #dddddd;
    padding: 25px 0;
}
.m-micro .m-micro-wrap .cntwrap .cntlist {
    width: 9999px;
    height: 60px;
}
.m-micro .m-micro-wrap .item:first-child {
    border-left: none;
}
.m-micro .m-micro-wrap .item {
    border-left: 1px solid #dddddd;
    width: 224px;
    padding: 0 8px;
}
.f-fl {
    float: left;
}
.m-micro .m-micro-wrap .item .tit {
    margin-left: 62px;
    margin-top: 10px;
}
.m-micro .m-micro-wrap .item .tip {
    color: #999999;
    font-size: 12px;
    margin-left: 62px;
}
#j-larr{
    left: 1px;
    top: 25px;
    background-position: 0 -69px;
}
#j-larr,#j-rarr {
    height: 60px;
    width: 14px;
    cursor: pointer;
    background: url(images/index.png) no-repeat 9999px 9999px;
}
.f-pa {
    position: absolute;
}
#j-rarr {
    right: 0;
    top: 25px;
    background-position: -28px -69px;
    height: 60px;
    width: 14px;
    cursor: pointer;
}
.box-top{
    margin-top: 40px;
    position: relative;
    height: 31px;
}
.box-top h2{
    position: absolute;
    top: -24px;
    width: 200px;
    float: left;
}
.box-top a{
    margin: auto 0;
    float: right;
}
.icn {
    float: right;
    width: 18px;
    height: 20px;
    background: url("images/more.png") no-repeat -1px -1673px;
    margin-left: 3px;
}
.pic1{
    height: 400px;
    border: 1px solid #eee;
    position: relative;
}
.content1{
    float: left;
    height: 100%;
    width: 975px;
    margin-right: 245px;
}
.sild1{
    position: absolute;
    top:0;
    right: 0;
    border: 1px solid #eee;
    width: 225px;
    float: right;
    height: 100%;
}
.p-left1{
    float: left;
    width: 225px;
    height: 100%;
    border: 1px solid #eee;
}
.right1{
    margin-bottom: 30px;
    margin-left: 22px;
    width: 225px;
    height: 225px;
    float: left;
    border: 1px solid #eee;
}
#free .img{
    width: 225px;
    height: 185px;
    border: 1px solid #eee;
    float: left;
    margin-right:21px;
}
#free .img div{
    margin: 0;
}
#free div:last-child{
    margin-right: 0;
}
#changxiao{
    margin-top: 250px;
    height: 480px;
}
#mingshi-pic{
    height: 240px;
    border: 1px solid #eee;
}
#mingshi-right .right{
    float: left;
    border: 1px solid #eee;
    width: 240px;
    height: 240px;
    margin-right: 2px;
}
#mingshi-right .right:last-child{
    margin-right: 0;
}
.pic2{
    position: relative;
    height: 410px;
    border: 1px solid #eee;
}
.content2{
    width: 995px;
    height: 100%;
}
.right2{
    width: 225px;
    height: 185px;
    border: 1px solid #eee;
    float: left;
    margin-right: 18px;
    margin-bottom: 37px;
}
.sild2{
    position: absolute;
    top:0;
    right: 0;
    float: right;
    width: 225px;
    border: 1px solid #eee;
    height: 100%;
}
.right2:first-child{
    width: 470px;
}
#guanggao{
    margin-top: 40px;
    height: 133px;
}
#guanggao #g-left{
    width: 960px;
    float: left;
    border: 1px solid #eee;
    height: 100%;
}
#guanggao #g-right{
    width: 225px;
    height: 100%;
    border: 1px solid #eee;
    float: right;
}
#hezuo{
    height: 175px;
    border: 1px solid green;
    margin-top: 40px;
}
#footer{
    height: 298px;
    border: 1px solid #eee;
    background-color: #474443;
}
#f-left{
    width:430px ;
    float: left;
    margin: 50px 65px 30px;
}
#f-logo{
    height: 46px;
    background: url("images/logoFoot.png") no-repeat;
}
#footer p{
    line-height: 22px;
    font-size: 12px;
    color: white;
}
#share{
    position: relative;
    width: 400px;
    height: 20px;
}
#weibo,
#renren,
#yixin,
#weixin{
    margin-top: 5px;
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    background: url("images/guanzhu.png") no-repeat;
    background-position: -34px -52px;
    margin: 15px 0 0 4px;
}
#renren{
    background-position: -34px -72px;
}
#yixin{
    background-position: -7px -72px;
}
#weixin{
    background-position: -7px -52px;
}
#copy{
    color: #999;
    font-size: 12px;
    margin-top: 40px;
}
#f-right{
    width: 535px;
    float: right;
    margin-top: 100px;
}
#f-right ul{
    list-style: none;
    float: left;
}
#f-right ul li{
    margin: 0 8px;
    float: left;
}
#f-right a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    float: left;
}
#mobile{
    position: relative;
    margin-left: 190px;
}
.mlogo{
    margin-left: 80px;
    position: absolute;
    top: 15px;
    /*float: right;*/
    width: 111px;
    height: 32px;
    background: url("images/download_icon.png") no-repeat 0 0;
}
#mlogo2{
    background-position: 0 -42px;
    margin-left: 216px;
}
#hz-top{
    width: 1220px;
    margin: 0 auto;
    height: 85px;
}
#hz-bottom{
    height: 68px;
}
#hz-text{
    border: 1px solid black;
    height: 20px;
    overflow: hidden;
    margin-top: 25px;
}
#hz-list{
    height: 40px;
    margin: 0;
}
li{
    list-style: none;
}
.hz-item{
    font-size: 15px;
    width: 118px;
    float: left;
}
#mingshi-content .right{
    position: relative;
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding-top: 30px;
    text-align: center;
}
#free .tit .f-thide,
#changxiao .tit .f-thide,
#bangong .tit .f-thide,
#shichang .tit .f-thide,
#biancheng .tit .f-thide,
#chanpin .tit .f-thide,
#zhiye .tit .f-thide,
#shenghuo .tit .f-thide,
#yuyan .tit .f-thide,
#qinzi .tit .f-thide{
    font-size: 15px;
}
#free .orgName,
#changxiao .orgName,
#bangong .orgName,
#shichang .orgName,
#biancheng .orgName,
#chanpin .orgName,
#zhiye .orgName,
#shenghuo .orgName,
#yuyan .orgName,
#qinzi .orgName{
    font-size: 13px;
    color: #999999;
}
.normal{
    color: red;
    font-size:20px ;
}
#cx-pic .right1{
    height:210px;
}
#sc-pic .right1,
#qz-pic .right1,
#cp-pic .right1{
    height: 190px;
}
#sh-pic .right1{
    height: 195px;
}
#shichang #sh-pic{
    height: 410px;
}
#free img:hover,
#changxiao img:hover,
#bangong img:hover,
#shichang img:hover,
#biancheng img:hover,
#chanpin img:hover,
#zhiye img:hover,
#shenghuo img:hover,
#yuyan img:hover,
#qinzi img:hover{
    transform: scale(1.05);
}
#free img,
#changxiao img,
#bangong img,
#shichang img,
#biancheng img,
#chanpin img,
#zhiye img,
#shenghuo img,
#yuyan img,
#qinzi img{
    transition-duration: 0.3s;
    overflow: hidden;
}
#free div,
#changxiao div,
#bangong div,
#shichang div,
#biancheng div,
#chanpin div,
#zhiye div,
#shenghuo div,
#yuyan div,
#qinzi div{
    overflow: hidden;
}
.bottom-text{
    font-size: 14px;
    background-color:green;
}
.bottom-text ul li{
    line-height: 30px;
}
.bottom-text ul li a:hover{
    text-decoration: underline;
}
#page .sild1,
#page .sild2{
    background-color: green;
}
#page .sild1 .bottom-text ul li a,
#page .sild2 .bottom-text ul li a{
    color: white;
}
#slide {
    z-index: -99;
    width: 1220px;
    height: 100%;
    box-shadow: 0px 0px 5px #c1c1c1;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
#scroll #slide ul li{
    width: 1220px;
    margin-top: -10px;
    overflow: hidden;
    float: left;
}
#slide .ico {
    width: 800px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 10px;
    z-index: 1;
}
#slide ul {
    position: absolute;
    left: -40px;
    top: 0px;
    height: 400px;
    width: 11930px;
}
#cx-pic{
    height: 450px;
}